    .field {
        position: relative;
        width: 1000px;
        height: 500px;
        color: gray;
        background-color: gray;
        z-index: 1;
        border-width: none;
        }
    .player {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: green;
        color: green;
        display: block;
        z-index: 3;
        border: none;
        background: url('textures/player.png');
        }
    .block {
        position: absolute;
        width: 30px;
        height: 30px;
        color: blue;
        background-color: blue;
        z-index: 2;
        border: none;
        background: url('textures/block.png');
        }
    .obstacle {
        position: absolute;
        width: 30px;
        height: 30px;
        color: blue;
        background-color: red;
        z-index: 2;
        border: none;
        background: url('textures/obst.png');
        }
    .blockNet {
        position: absolute;
        width: 30px;
        height: 30px;
        color: black;
        background-color: purple;
        z-index: 2;
        border: none;
        background: url('textures/blockNet.png');
        }
